<script type="ld-conf">
{
  "name": "full-size",
  "label": "Full-Size Image"
}
</script>

<div class="full-size">
  <figure>
    <div class="container image-container" doc-image="image">
      <div class="image-gradient">
        <div class="base-layout middle-text full-height">
          <figcaption class="inverted centered">
            <h1 doc-editable="title">
              Image Title
            </h1>
            <p doc-editable="subtitle" doc-optional="true">
              Add an image description
            </p4>
          </figcaption>
        </div>
      </div>
    </div>
  </figure>
</div>
