<script type="ld-conf">
{
  "name": "grid-of-6",
  "label": "Six images",
  "properties": ["caption-inside", "small-size"]
}
</script>

<div class="grid-of-6">
  <figure class="grid-of-6__item">
    <div class="grid-of-6__figure" doc-image="image1"></div>
    <figcaption doc-editable="caption1" doc-optional="true">Caption</figcaption>
  </figure>

  <figure class="grid-of-6__item">
    <div class="grid-of-6__figure" doc-image="image2"></div>
    <figcaption doc-editable="caption2" doc-optional="true">Caption</figcaption>
  </figure>

  <figure class="grid-of-6__item">
    <div class="grid-of-6__figure" doc-image="image3"></div>
    <figcaption doc-editable="caption3" doc-optional="true">Caption</figcaption>
  </figure>

  <figure class="grid-of-6__item">
    <div class="grid-of-6__figure" doc-image="image4"></div>
    <figcaption doc-editable="caption4" doc-optional="true">Caption</figcaption>
  </figure>

  <figure class="grid-of-6__item">
    <div class="grid-of-6__figure" doc-image="image5"></div>
    <figcaption doc-editable="caption5" doc-optional="true">Caption</figcaption>
  </figure>

  <figure class="grid-of-6__item">
    <div class="grid-of-6__figure" doc-image="image6"></div>
    <figcaption doc-editable="caption6" doc-optional="true">Caption</figcaption>
  </figure>
</div>
