.m-asset-image {
  padding: 0 $asset-unit / 2 $asset-unit / 2;

  &__image {
    width: 100%;
    position: relative;
  }

  &:not(:last-child) {
    @extend %a-asset-divider;
  }

  .a-asset-input {
    margin-top: $asset-unit / 2;
  }
}

@import 'asset-image-numbered';
@import 'asset-image-compact';
