.m-asset-image--compact {
  display: grid;
  grid-template-columns: calc(100% / 3) auto;
  grid-template-rows: auto;
  grid-gap: $asset-unit / 2;

  .m-asset-image {
    &__image {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1;
    }

    &__options {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 1;
    }
  }

  &:not(:last-child) {
    &::after {
      height: $asset-unit / 2;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  }

  .a-asset-input {
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 $asset-unit / 2 0;
    }
  }
}
