.m-asset-image {
  &:not(:last-child) {
    padding-bottom: $asset-unit;
    margin-bottom: $asset-unit;
    border-bottom: $asset-color-border 1px solid;
  }

  &__image {
    width: 100%;
    transition: width .2s;
  }

  .a-asset-input {
    margin-top: $asset-unit / 2;
  }
}

@import 'asset-image-numbered';
@import 'asset-image-compact';
