.m-asset-head {
  margin-bottom: $asset-unit;
  border-bottom: $asset-color-border 1px solid;

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: $asset-unit;
    border-bottom: $asset-color-border 1px solid;
  }

  &__type {
    color: $asset-color-gray-one;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__section {
    margin: $asset-unit;
    border-bottom: $asset-color-border 1px solid;
  }

  &__title {
    font-size: 20px;
  }
}
