<script type="ld-conf">
  {
    "label": "Asset Gallery Header",
    "allowedParents": ["asset-container"],
    "description": "Header and Title Field",
    "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_header_full.svg"
  }
</script>

<div class="asset-head">
  <div class="asset-head__bar">
    <h2 class="asset-head__type">Gallery</h2>
  </div>
  <div class="asset-head__section">
    <div class="asset-a-input" doc-editable="title">Gallery Title</div>
  </div>
</div>
