<script type="ld-conf">
  {
    "name": "article-container",
    "label": "Article Container",
    "directives": {
      "header": {
        "allowedChildren": ["head", "subtitle"]
      },
      "sidebar": {
        "allowedChildren": []
      },
      "footer": {
        "allowedChildren": ["halves", "teaser-card"]
      }
    }
  }
</script>

<article class="article-content">
  <header class="article-content__header" doc-container="header"></header>
  <div class="article-content__body">
    <main class="article-content__main" doc-container="main"></main>
    <aside class="article-content__sidebar" doc-container="sidebar">
      <div doc-container="sidebar-ad-01"></div>
      <div doc-container="sidebar-teasers"></div>
      <div doc-container="sidebar-ad-02"></div>
    </aside>
  </div>
  <section class="article-content__footer" doc-container="footer"></section>
</article>
