<script type="ld-conf">
  {
    "name": "article-container",
    "label": "Article Container",
    "directives": {
      "header": {
        "allowedChildren": [
          "head"
        ]
      },
      "main": {
        "allowedChildren": [
          "free-html",
          "iframe",
          "tweet",
          "subtitle",
          "image",
          "bullet-list",
          "paragraph",
          "separator",
          "quote",
          "teaser-author",
          "video-container",
          "gallery-container"
        ]
      },
      "sidebar-ads-top": {
        "allowedChildren": [
          "free-html",
          "iframe"
        ]
      },
      "sidebar": {
        "allowedChildren": [
          "teaser-sidebar",
          "sidebar-title"
        ]
      },
      "sidebar-ads-bottom": {
        "allowedChildren": [
          "free-html",
          "iframe"
        ]
      },
      "footer": {
        "allowedChildren": [
          "halves"
        ]
      }
    }
  }
</script>

<article class="article-content">
  <header class="article-content__header" doc-container="header"></header>
  <div class="article-content__body">
    <main class="article-content__main" doc-container="main"></main>
    <aside class="article-content__sidebar">
      <div doc-container="sidebar-ads-top"></div>
      <div doc-container="sidebar"></div>
      <div doc-container="sidebar-ads-bottom"></div>
    </aside>
  </div>
  <section class="article-content__footer" doc-container="footer"></section>
</article>
