<script type="ld-conf">
  {
    "name": "article-container",
    "label": "Article Container",
    "directives": {
      "header": {
        "allowedChildren": ["head", "subtitle"]
      },
      "sidebar": {
        "allowedChildren": []
      },
      "footer": {
        "allowedChildren": ["halves", "teaser-card"]
      }
    }
  }
</script>

<div class="article-container">
  <div class="content-header" doc-container="header"></div>
  <div>
    <div class="content-body" doc-container="main"></div>
    <div class="content-sidebar" doc-container="sidebar"></div>
  </div>
  <div class="container-unge" doc-container="footer">
    > recommended stories
  </div>
</div>
