<script type="ld-conf">
{
  "name": "halves-uneven",
  "label": "Uneven 2 Columns Container",
  "properties": ["container-style-lined"],
  "directives": {
    "column-one": {
      "allowedChildren": [
        "free-html",
        "iframe",
        "tweet",
        "section-title",
        "subtitle",
        "image",
        "bullet-list",
        "paragraph",
        "separator",
        "quote",
        "teaser-card-no-image",
        "teaser-card-numbered",
        "teaser-card",
        "image-gallery-gero-teaser",
        "teaser-gallery",
        "teaser-hero",
        "teaser-video-hero",
        "teaser-video"
      ]
    },
    "column-two": {
      "allowedChildren": [
        "free-html",
        "iframe",
        "tweet",
        "section-title",
        "subtitle",
        "image",
        "bullet-list",
        "paragraph",
        "separator",
        "quote",
        "teaser-card-no-image",
        "teaser-card-numbered",
        "teaser-card",
        "image-gallery-gero-teaser",
        "teaser-gallery",
        "teaser-hero",
        "teaser-video-hero",
        "teaser-video"
      ]
    }
  }
}
</script>

<div class="container container--halves-uneven">
  <h2 class="container__title" doc-editable="title" doc-optional="true"></h2>
  <div class="container-grid">
    <div class="container-grid__item" doc-container="column-one"></div>
    <div class="container-grid__item" doc-container="column-two"></div>
  </div>
</div>
