<script type="ld-conf">
{
  "name": "quarter",
  "label": "4 Columns Container",
  "properties": ["container-style-lined"]
}
</script>

<div class="container container--quarter">
  <h2 class="container__title" doc-editable="title" doc-optional="true">Bota sot</h2>
  <div class="container__item" doc-container="column-one"></div>
  <div class="container__item" doc-container="column-two"></div>
  <div class="container__item" doc-container="column-three"></div>
  <div class="container__item" doc-container="column-four"></div>
</div>
