<script type="ld-conf">
  {
    "name": "default-layout-footer",
    "label": "Default layout footer"
  }
</script>

<nav class="page-foot__wrapper">
  <ul class="footer-links footer-links--left-aligned">
    <li>© 2018 Livingdocs Times</li>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Work With us</a></li>
    <li><a href="#">Advertise</a></li>
    <li><a href="#">Terms of Service</a></li>
    <li><a href="#">Terms of Sale</a></li>
  </ul>

  <ul class="footer-links footer-links--right-aligned">
    <li><a href="#">Sitemap</a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Site Feedback</a></li>
    <li><a href="#">Subscriptions</a></li>
  </ul>
</nav>
