// -----------------------------------------------------------------------------
// EVENT COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/timeline/event.html

@mixin timeline($timeline-color) {
  $timeline-width: 3px;
  // The width of the time dash/mark
  $time-width: $timeline-width;
  $time-length: .75em;
  border-color: $timeline-color;

  // Define the tick or dash of the timeline
  position: relative;
  &:before {
    border-top: $time-width solid $timeline-color;
    width: $time-length;
    display: block;
    content: '';
    position: absolute;
    left: - $time-length;
    @include breakpoint($medium-screens-or-smaller) {
      display: none;
    }
    top: .75em;
  }
}

@mixin timeline-bullets($bullet-color, $bullet-color-light) {
  $bullet-size: 9px;
  $bullet-border-width: 4px;
  $bullet-radius: $bullet-size / 2  + $bullet-border-width;
  $timeline-width: 3px;

  border-color: $bullet-color-light;
  font-family: $font-sans-serif;

  &:before {
    border: $bullet-border-width solid $bullet-color-light;
    background-color: $bullet-color;
    border-radius: $bullet-radius;
    width: $bullet-size;
    height: $bullet-size;
    left: - $bullet-radius - $timeline-width / 2;
    top: $base-line-height / 2 - $bullet-radius + 1px;
  }
}

.event {
  + .event {
    margin-top: 0;
  }

  $timeline-color: #ddd;
  font-size: 0.9rem;

  clear: both;


  main {
    margin-top: 0;

    p {

      &:first-child {
        text-indent: 0;
      }
    }

  }

  aside.time {




    display: block;
    color: lighten($text-color, 40%);

    time {
      font-weight: 900;
      font-size: 1.2rem;
    }

    p {
      margin-top: 0;
      font-size: 1rem;
    }
  }

  &.bullets {
    $bullet-color: #559ec1;
    $bullet-color-light: lighten($bullet-color, 10%);

    aside.time {
      time {
        color: $bullet-color;
      }
      p {
        color: $bullet-color-light;
      }
    }
  }
}
