// ------------------------------------
// FULL-SIZE COMPONENT
// ------------------------------------

// Styles for the following component:
// -> source/components/images/full-size.html

.full-size {
  figure {
    margin-left: -50%;
    margin-right: -50%;
  }

  .image-container {
    background-position: center center;
    background-size: cover;
    height: inherit;
    background-attachment: fixed;
  }


  .container {
    min-height: 500px;
  }

  .image-container {
    background-size: cover;
    background-position: center center;
  }

  .image-gradient {
    background: rgba(0,0,0,.2);
  }

  .middle-text {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    > figcaption {
      color: white;
      text-shadow: 0 1px 5px rgba(0,0,0,0.7);

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

}
