// -----------------------------------------------------------------------------
// GALLERY
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/plugins/gallery.html
// -> source/components/plugins/image-slide.html
// -> source/components/plugins/media-slide.html
// -> source/components/plugins/quote-slide.html

.media-gallery {
  margin: 20px 0;

  h2 {
    font-size: 26px;
    padding: 10px 0 8px;
  }

  ul {
    min-height: 30px;
  }

  li {
    list-style: none;
  }
}

.media-gallery-image-slide {
  img {
    width: 100%;
  }
}

.media-gallery-quote-slide {

  .centered-content {
    padding: 70px 20px;
  }

  blockquote {
    position: relative;
    float: none;
    width: 100%;

    &::before {
      content: '\201C';
      display: block;
      position: absolute;
      top: -.5em;
      left: 0;
      width: 100%;
      font-size: 5em;
      color: rgba(43, 65, 77, .2);
      z-index: -1;
      text-align: center;
    }
  }

  blockquote p {
    margin: 0 0 4% 0;
    padding: 3% 0 0 0;

    font-size: 3em;
    line-height: 1.5;
    font-weight: normal;
    text-align: center;
  }

  blockquote footer {
    text-align: center;
    padding-bottom: 1em;

    &:after {
      content: none;
    }
  }

}

.media-gallery-quote-slide--blue {
  background-color: #358EBC;

  blockquote p {
    color: #FEFBDF;
  }

  p, blockquote footer {
    color: rgba(43, 65, 77, .85);
  }
}

.media-gallery-quote-slide--pink {
  background-color: #F36A71;

  blockquote p {
    color: #FEFBDF;
  }

  p, blockquote footer {
    color: rgba(43, 65, 77, .85);
  }
}

.media-gallery-quote-slide--yellow {
  background-color: #F0C854;

  blockquote p {
    color: #FEFBDF;
  }

  p, blockquote footer {
    color: rgba(43, 65, 77, .85);
  }
}



// Overide pagination dots styles
.media-gallery {
  .sy-pager li.sy-active a {
    background-color: #333;
  }

  .sy-pager li {
    width: .8em;
    height: .8em;
  }
}



@media only screen and (max-width: 400px) {

  .media-gallery .sy-pager li {
    width: .5em;
    height: .5em;
  }

  .media-gallery-quote-slide {
    blockquote {
      &::before {
        font-size: 3em;
      }

      p {
        font-weight: 300;
        font-size: 2em;
      }
    }

    p {
      font-size: 0.7em;
      font-weight: bold;
      text-align: center;
    }
  }

}
