// -----------------------------------------------------------------------------
// GRID OF 6 COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/images/grid-of-6.html

.grid-of-6 {
  @extend %layout;
}

.grid-of-6__item {
  @extend %layout__item;

  width: 33.33%;
}

.grid-of-6__figure {
  height: 0;
  width: 100%;
  background-size: cover;
  // Default to 16:9 aspect ratio
  padding-bottom: 9/16 * 100%;
  background-position: center center;
}
