// ------------------------------------
// IMAGE COMPONENT
// ------------------------------------

// Styles for the following component:
// -> source/components/images/image.html

.c-image {
  margin-bottom: halve($base-spacing-unit);
}

.c-image > img {
  margin-bottom: quarter($base-spacing-unit);
}

.c-image__caption {
  color: $secondary-color;
  @include font-size($mili-size); // 14px
}


// Modifier
.c-image--left, .c-image--right {
  max-width: 180px;
}

.c-image--left {
  float: left;
  margin-right: $base-spacing-unit;
}

.c-image--right {
  float: right;
  margin-left: $base-spacing-unit;
}
