.layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #eaeae7;

    &--centered {
      margin: 30px auto;
      width: 200px;

      a {
        color: #666;
        font-size: 0.8em;
      }

      svg {
        width: 200px;
        margin-top: -15px;
      }
    }
  }
}
