// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------

// Styles for the following components:
// -> source/components/layout/article-layout.html
// -> source/components/layout/article-layout-header.html

.page-head {
  position: relative;

  overflow: hidden;
  margin-bottom: $base-spacing-unit;
}

// Logo
.logo {
  max-width: 322px;
  margin: $base-spacing-unit auto $base-spacing-unit;
}

// Meta navgation styles
.meta-nav {
  top: 36px;
  position: absolute;
  right: $base-spacing-unit;

  display: flex;
  justify-content: flex-end;
}

.meta-nav__item a {
  display: block;
  padding: quarter($base-spacing-unit);

  text-decoration: none;
  @include font-size($mili-size);

  &:hover {
    text-decoration: underline;
  }
}

.meta-nav__item--highlight a {
  color: $jungle-green;
}


// Main navigation styles
.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: halve($base-spacing-unit);
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
}

.main-nav__item {
  flex: 1 1 auto;
  text-align: center;
  transition: background-color 250ms;

  > a {
    display: block;
    padding: quarter($base-spacing-unit);

    text-decoration: none;
    @include font-size($mili-size); // 14px
  }

  &:hover {
    background-color: lighten($text-color, 97%);
  }

  &.is-selected a {
    font-weight: bold;
  }
}


// Media Queries
@media (max-width: $mq-small) {
  .logo {
    max-width: 250px;
    margin-right: 0;
    margin-left: halve($base-spacing-unit);
  }

  .meta-nav {
    top: 29px;
    right: halve($base-spacing-unit);
  }
}

@media (max-width: $mq-extra-small) {
  .logo {
    max-width: 180px;
    margin: halve($base-spacing-unit) 0 halve($base-spacing-unit) halve($base-spacing-unit);
  }

  .meta-nav {
    top: 11px;
  }

  .main-nav__item {
    flex-basis: 25%;
  }
}
