// -----------------------------------------------------------------------------
// HEADER
// -----------------------------------------------------------------------------

// Styles for the following components:
// -> source/components/layout/article-layout.html
// -> source/components/layout/article-layout-header.html

.page-head {
  @extend .wrapper;
  @extend .wrapper--wide;

  position: relative;

  margin-bottom: $base-spacing-unit;
}

// Logo
.logo {
  max-width: 322px;
  margin: $base-spacing-unit auto $base-spacing-unit;
}

// Meta navgation styles
.meta-nav {
  top: 8px;
  position: absolute;
  right: $base-spacing-unit;

  display: flex;
  justify-content: flex-end;
}

.meta-nav__item a {
  display: block;
  padding: quarter($base-spacing-unit);

  text-decoration: none;
  @include font-size($mili-size);

  &:hover {
    text-decoration: underline;
  }
}

.meta-nav__item--highlight a {
  color: $jungle-green;
}


// Main navigation styles
.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: halve($base-spacing-unit);
  border-top: 1px solid $divider-color;
  border-bottom: 1px solid $divider-color;
}

.main-nav__item {
  flex: 1 1 auto;
  text-align: center;
  transition: background-color 250ms;

  > a {
    display: block;
    padding: quarter($base-spacing-unit);

    text-decoration: none;
    @include font-size($mili-size); // 14px
  }

  &:hover {
    background-color: lighten($text-color, 97%);
  }

  &.is-selected a {
    font-weight: bold;
  }
}
