// -----------------------------------------------------------------------------
// FOOTER
// -----------------------------------------------------------------------------

// Styles for the following components:
// -> source/components/layout/article-layout.html
// -> source/components/layout/article-layout-footer.html

.page-foot {
  margin-top: double($base-spacing-unit);
}

.footer-links {
  margin-left: 0;

  @include font-size($mili-size, false);

  list-style: none;

  & > li {
    display: inline-block;
    margin-right: halve($base-spacing-unit);
  }

  & > li:last-child {
    margin-right: 0;
  }

}

// Modifier
.footer-links--left-aligned {
  float: left;
}

.footer-links--right-aligned {
  float: right;
}
