// -----------------------------------------------------------------------------
// PLACEHOLDERS
// -----------------------------------------------------------------------------

.placeholder__img {
  min-height: 200px;
  margin-bottom: $base-spacing-unit;

  background-size: 64px;
  background-color: #f7f7f7;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  opacity: .7;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.placeholder--teaser-card,
.placeholder--teaser-video,
.placeholder--teaser-gallery,
.placeholder--free-html,
.placeholder--twitter {
  margin-bottom: $base-spacing-unit;
}

.placeholder--teaser-card .placeholder__img {
  background-image: url('../assets/images/teaser-placeholder.svg');
}

.placeholder--teaser-video .placeholder__img {
  background-image: url('../assets/images/teaser-video-placeholder.svg');
}

.placeholder--teaser-gallery .placeholder__img {
  background-image: url('../assets/images/teaser-gallery-placeholder.svg');
}

.placeholder--free-html .placeholder__img {
  background-image: url('../assets/images/html-placeholder.svg');
}

.placeholder--twitter .placeholder__img {
  background-image: url('../assets/images/twitter-placeholder.svg');
}
