// Placeholders
%placeholder-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.teaser-row__inside--latest {
  .placeholder-bg {
    @extend %placeholder-bg;
    top: 105px;
    left: 1.5em;
    right: 1.5em;
    background-image: url('../assets/images/latest-news.svg');
    height: 452px;
    width: 100%;
  }
}

.placeholder--top-teasers {
  @extend %placeholder-bg;
  left: inherit;
  right: 0;
  background-image: url('../assets/images/top-row-articles.svg');
  background-size: cover;
  width: 74.6%;
  height: 600px;
}

.placeholder--teaser-row {
  position: relative;
  height: 261px;
  .placeholder-bg {
    @extend %placeholder-bg;
    background-image: url('../assets/images/teaser-row.svg');
    height: 239px;
    width: 100vw;
  }
}

.placeholder--teaser-row-text {
  position: relative;
  height: 261px;
  .placeholder-bg {
    @extend %placeholder-bg;
    top: 40px;
    background-image: url('../assets/images/teaser-row-text.svg');
    height: 221px;
  }
}

.placeholder--teaser-full-width {
  position: relative;
  height: 501px;
  .placeholder-bg {
    @extend %placeholder-bg;
    background-image: url('../assets/images/teaser-full-width.svg');
    background-position: center;
    height: 501px;
  }
}

.placeholder--teaser-row-high {
  position: relative;
  height: 600px;
  .placeholder-bg {
    @extend %placeholder-bg;
    background-image: url('../assets/images/teaser-row-high.svg');
    height: 600px;
    width: 100vw;
  }
}
