// -----------------------------------------------------------------------------
// QUOTE COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/text/quote.html

.quote {
  position: relative;
  margin-top: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);
}

.quote__mark {
  position: absolute;

  line-height: 1;
  font-style: italic;
  @include font-size(90px);
}

.quote__text {
  margin-bottom: halve($base-spacing-unit);
  margin-left: double($base-spacing-unit);

  font-style: italic;
  @include font-size($epsilon-size, false)
}

.quote__source {
  position: relative;

  margin-left: double($base-spacing-unit);
  padding-left: 2ch;

  clear: both;

  &::after {
    left: 0;
    position: absolute;
    content: '–';
  }
}
