// -----------------------------------------------------------------------------
// QUOTE COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/text/quote.html

.quote {
  color: lighten($text-color, 20%);
  position: relative;
  margin-top: double($base-spacing-unit);
  margin-bottom: double($base-spacing-unit);

  p {
    font-size: 1.5rem;
    font-style: italic;
    // line-height: 1.2;
  }

}

.quote__mark {
  font-size: 7rem;
  float: left;
  position: relative;
  top: -0.25em;
  left: -0.1ch;
  padding-right: 0.1ch;
}

.quote__source {
  position: relative;
  padding-left: 2ch;

  &:after {
    top: 0;
    left: 1.5em;
    position: absolute;
    content: '\2014';
  }
}
