// -----------------------------------------------------------------------------
// TEASER HERO COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/teaser/teaser-hero.html

.teaser-hero {
  margin-bottom: double($base-spacing-unit);
}

// .teaser-hero > a {
//   color: inherit;
//   text-decoration: none;
// }

.teaser-hero__header:hover {
  opacity: .85;
}

.teaser-hero__header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20% 0;
  margin-bottom: halve($base-spacing-unit);

  background-size: cover;
  background-position: top center;
  // background-image: url("http://bit.ly/2xaDZnv");
}


.teaser-hero__header-text {
  max-width: 60%;
}

.teaser-hero__flag {
  display: inline-block;
  padding-right: quarter($base-spacing-unit);
  padding-left: quarter($base-spacing-unit);
  margin-bottom: quarter($base-spacing-unit);

  font-weight: bold;
  color: $flag-color;
  text-transform: uppercase;
  @include font-size($mili-size, false);

  border-radius: 2px;
  background-color: #fff;
}

.teaser-hero__title {
  color: #fff;
  font-weight: bold;
  @include font-size($delta-size, false);
}

.teaser-hero__title, .teaser-hero__catchline {
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.teaser-hero__text {
  margin-bottom: halve($base-spacing-unit);
}

.teaser-hero__byline {
  margin-left: 0;
  margin-bottom: 0;

  color: $secondary-color;
  @include font-size($mili-size);
}

  .teaser-hero__byline li {
    display: inline-block;
    margin-right: quarter($base-spacing-unit);
  }

  .teaser-hero__byline li:last-child {
    margin-right: 0;
  }

  .teaser-hero__byline li a {
    color: inherit;
  }

  .teaser-hero__byline li a:hover {
    text-decoration: none;
  }

// Modfier
.teaser-hero--breath {
  margin-left: calc(8.33% + #{$base-spacing-unit});
  margin-right: calc(8.33% + #{$base-spacing-unit});
}
