// -----------------------------------------------------------------------------
// TEASER CARD COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/teaser/teaser-card.html

.teaser-card {
  margin-bottom: double($base-spacing-unit);
}

.teaser-card__figure {
  position: relative;
  margin-bottom: halve($base-spacing-unit);
}
  .teaser-card__figure a {
    color: inherit;
    text-decoration: none;
  }

  .teaser-card__caption {
    left: 15px;
    bottom: 20px;
    position: absolute;

    padding: 4px 10px;
    background-color: lightgreen;
  }


.teaser-card__flag {
  display: inline-block;
  margin-bottom: quarter($base-spacing-unit);

  font-weight: bold;
  color: $flag-color;
  text-transform: uppercase;
  @include font-size($mili-size); // 14px
}

.teaser-card__title {
  font-family: $serif-font;
  @include font-size($delta-size, false); // 32px
  margin-bottom: halve($base-spacing-unit);
}

.teaser-card__title a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.teaser-card__text {
  margin-bottom: halve($base-spacing-unit);
}

.teaser-card__byline {
  margin-left: 0;

  color: rgba(0,0,0,.54);
  @include font-size($mili-size);

  list-style: none;
  overflow: hidden;
}

.teaser-card__byline li {
  display: inline-block;
  margin-right: quarter($base-spacing-unit);

  &:last-child {
    margin-right: 0;
  }
}

.teaser-card__byline li a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}


// Modifier
.teaser-card--left-aligned-img, .teaser-card--right-aligned-img {
  display: flex;
  align-items: flex-start;
}

.teaser-card--left-aligned-img .teaser-card__figure,
.teaser-card--right-aligned-img .teaser-card__figure {
  width: 40%;
  margin-right: 20px;
}

.teaser-card--left-aligned-img .teaser-card__figure,
.teaser-card--right-aligned-img .teaser-card__figure {
  width: 40%;
}


.teaser-card--left-aligned-img .teaser-card__body,
.teaser-card--right-aligned-img .teaser-card__body  {
  flex: 1;
}

.teaser-card--left-aligned-img .teaser-card__figure {
  margin-right: 20px;
}

.teaser-card--right-aligned-img .teaser-card__figure {
  margin-left: 20px;
  order: 1;
}
