// -----------------------------------------------------------------------------
// TEASER FULL WIDTH COMPONENT
// -----------------------------------------------------------------------------

// Styles for the following component:
// -> source/components/pages/teaser-full-width.html
// -> source/components/pages/teaser-full-width-resolved.html

.teaser-row {
  position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.teaser-row__inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3em 1em;
  line-height: 1.15;
}

.teaser-row__inside--latest {
  position: relative;
    padding: 1em 1.5em;
}

// Teaser Row Item
.teaser-row__item {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  color: $text-color;
  line-height: 1.2;
  width: 23.5%;
  margin-top: 0;
  margin-bottom: 0;
}

// Change background-color of Headlines when hovering .teaser-row__item link
a.teaser-row__item {
  &:hover {
    .teaser-row__headline-inner {
      background-color: $text-color;
    }
    .teaser-row__headline--outside {
      .teaser-row__headline-inner {
        background-color: #eee;
      }
    }
  }
}



// Teaser Row Item Modifiers
.teaser-row__item--high {
  min-height: 600px;
}

.teaser-row__item--latest {
  background-color: #eee;
  width: 100%;
  min-height: 0;
}

.teaser-row__item--bg {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  .teaser-row__headline {
    margin: .5em 0;

    .teaser-row__headline-inner {
      padding: 0 8px;
      background-color: rgba($text-color, .6);
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.2;
    }
  }
}



// Teaser Row Label
.teaser-row__label {
  display: inline-block;
  margin-bottom: 1em;
  border-bottom: 1px solid $text-color;
  color: $text-color;
  font-size: .875rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  transition: background-color .12s ease-in, border-color .12s ease-in;
  &:hover {
    background-color: #eee;
    border-color: transparent;
  }
}



// Headlines
.teaser-row__headline {
  display: block;
  margin-bottom: 1em;
  color: $text-color;
  font-size: .875rem;

  .teaser-row__headline-inner {
    display: inline;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    transition: background-color .12s ease-in;
    &:hover {
      background-color: #eee;
    }
  }

  &.teaser-row__headline--outside {
    margin-bottom: .25em;

    .teaser-row__headline-inner {
      font-weight: bold;
    }
  }

}



// Latest News
.teaser-latest__title {
  display: inline-block;
  margin: 1em 0;
  font-style: italic;
  font-size: 1.75rem;
  background-color: light-green;
  line-height: .6;
}

.teaser-latest__item {
  display: block;
  margin-bottom: 1.5em;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: $text-color;
}

.teaser-latest__headline {
  font-size: .75rem;
  margin-bottom: .25em;
}

.teaser-latest__time {
  text-transform: uppercase;
  color: #ddd;
}



// Teaser Tag
.teaser-tag {
  display: inline;
  margin-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: light-green;
  color: $text-color;
  font-size: 1.125rem;
  font-style: italic;
}

.teaser-tag--absolute {
  position: absolute;
  bottom: .25em;
  left: .5em;
}

// Wrap inline-image and teaser tag
.teaser-tag-wrap {
  position: relative;
}



// Author
.teaser-author {
  display: inline-block;
  font-size: .875rem;
  font-style: italic;
  .teaser-author__name {
    color: blue;
    text-decoration: underline;
  }
}

.teaser-author--dark {
  display: inline;
  padding: 0 8px;
  background-color: $text-color;
  color: #fff;
  font-size: 1rem;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  .teaser-author__name {
    color: blue;
    text-decoration: none;
  }
}


// Top 3 Teasers (right to latest news)
.top-three-teasers {
  margin-top: 0;
  width: 74.5%;
}
