// -----------------------------------------------------------------------------
// WRAPPERS
// -----------------------------------------------------------------------------


// Page-level constraining and wrapping elements.
$wrapper-width:  1008px;

.wrapper {
  @include clearfix();

  margin-right: auto;
  margin-left:  auto;
  padding-right: $base-spacing-unit;
  padding-left:  $base-spacing-unit;
  max-width: $wrapper-width;
}
