// -----------------------------------------------------------------------------
// WRAPPERS
// -----------------------------------------------------------------------------


// Page-level constraining and wrapping elements.
$wrapper-width:  1008px + double($base-spacing-unit);

.wrapper {
  @include clearfix();

  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper-width;
  padding-right: $base-spacing-unit;
  padding-left: $base-spacing-unit;
}

// Modifier
.wrapper--wide {
  max-width: 1220px + double($base-spacing-unit);
}

.wrapper--narrow {
  max-width: 676px + double($base-spacing-unit);
}
