<script type="ld-conf">
  {
    "name": "teaser-row-text",
    "label": "Text-only teasers",
    "directives": {
      "list-1": {
        "service": "list",
        "defaultParams": {
          "count": 4,
          "layout": "teaserRowText"
        }
      },
      "list-2": {
        "service": "list",
        "defaultParams": {
          "count": 4,
          "layout": "teaserRowText"
        }
      },
      "list-3": {
        "service": "list",
        "defaultParams": {
          "count": 4,
          "layout": "teaserRowText"
        }
      },
      "list-4": {
        "service": "list",
        "defaultParams": {
          "count": 4,
          "layout": "teaserRowText"
        }
      }
    }
  }
</script>

<div class="teaser-row">
  <div class="teaser-row__item placeholder--teaser-row-text">
    <a href="#" class="teaser-row__label" doc-editable="title-1" doc-link="link-1">Title</a>
    <div doc-include="list-1">
      <div class="placeholder-bg"></div>
    </div>
  </div>
  <div class="teaser-row__item placeholder--teaser-row-text">
    <a href="#" class="teaser-row__label" doc-editable="title-2" doc-link="link-2">Title</a>
    <div doc-include="list-2">
      <div class="placeholder-bg"></div>
    </div>
  </div>
  <div class="teaser-row__item placeholder--teaser-row-text">
    <a href="#" class="teaser-row__label" doc-editable="title-3" doc-link="link-3">Title</a>
    <div doc-include="list-3">
      <div class="placeholder-bg"></div>
    </div>
  </div>
  <div class="teaser-row__item placeholder--teaser-row-text">
    <a href="#" class="teaser-row__label" doc-editable="title-4" doc-link="link-4">Title</a>
    <div doc-include="list-4">
      <div class="placeholder-bg"></div>
    </div>
  </div>
</div>
