<script type="ld-conf">
  {
    "name": "teaser-row-text-resolved",
    "label": "Teaser Row with Text only"
  }
</script>

<div class="teaser-row">
  <div class="teaser-row__item">
    <a href="#" class="teaser-row__label">International</a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Donald Trump confirmed our worst fears about the kind of president he would be</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Mark Burnett, the reality TV titan who could hold Donald Trump’s fate in his hands, explained</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Masters of Sex goes to a swinger party and has its best episode in years</div>
    </a>
  </div>
  <div class="teaser-row__item">
    <a href="#" class="teaser-row__label">Science & Health</a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Mark Burnett, the reality TV titan who could hold Donald Trump’s fate in his hands, explained</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Donald Trump confirmed our worst fears about the kind of president he would be</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Masters of Sex goes to a swinger party and has its best episode in years</div>
    </a>
  </div>
  <div class="teaser-row__item">
    <a href="#" class="teaser-row__label">Technology</a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Donald Trump confirmed our worst fears about the kind of president he would be</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Mark Burnett, the reality TV titan who could hold Donald Trump’s fate in his hands, explained</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Masters of Sex goes to a swinger party and has its best episode in years</div>
    </a>
  </div>
  <div class="teaser-row__item">
    <a href="#" class="teaser-row__label">Social Media</a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Masters of Sex goes to a swinger party and has its best episode in years</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Donald Trump confirmed our worst fears about the kind of president he would be</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">Mark Burnett, the reality TV titan who could hold Donald Trump’s fate in his hands, explained</div>
    </a>
    <a href="#" class="teaser-row__headline">
      <div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills</div>
    </a>
  </div>
</div>
