<script type="ld-conf">
  {
    "name": "teaser-row-resolved",
    "label": "Teaser Row"
  }
</script>

<div class="teaser-row">
  <a href="#" class="teaser-row__item">
    <div class="teaser-tag-wrap">
      <img src="../assets/images/laputa.jpg" />
      <div class="teaser-tag teaser-tag--absolute">Feature</div>
    </div>
    <div class="teaser-row__headline teaser-row__headline--outside"><div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills.</div></div>
    <div class="teaser-author">By <span class="teaser-author__name">Boris Kohler</span></div>
  </a>
  <a href="#" class="teaser-row__item">
    <img src="../assets/images/laputa.jpg" />
    <div class="teaser-row__headline teaser-row__headline--outside"><div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills.</div></div>
    <div class="teaser-author">By <span class="teaser-author__name">Roger Wanner</span></div>
  </a>
  <a href="#" class="teaser-row__item">
    <img src="../assets/images/laputa.jpg" />
    <div class="teaser-row__headline teaser-row__headline--outside"><div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills.</div></div>
    <div class="teaser-author">By <span class="teaser-author__name">Stefanie Robertson</span></div>
  </a>
  <a href="#" class="teaser-row__item">
    <img src="../assets/images/laputa.jpg" />
    <div class="teaser-row__headline teaser-row__headline--outside"><div class="teaser-row__headline-inner">A rise in the level of the oceans could mean some mountains will be downgraded to hills.</div></div>
    <div class="teaser-author">By <span class="teaser-author__name">Belinda Berlusconi</span></div>
  </a>
</div>
