<script type="ld-conf">
  {
    "name": "teaser-card",
    "label": "Teaser Card",
    "properties": ["teaser-image-position"],
    "directives": {
      "teaser": {
        "service": "teaser",
        "defaultParams": {
          "layout": "card"
        },
        "config": {
          "search": {
            "defaultQueries": [
              {"type": "documentType", "value": "article"},
              {"type": "metadata", "key": "layout", "value": "regular"}
            ]
          }
        }
      }
    }
  }
</script>

<div doc-include="teaser" class="placeholder--teaser-card">
  <div class="placeholder__img"></div>
</div>
