<script type="ld-conf">
  {
    "name": "teaser-video",
    "label": "Video Teaser",
    "directives": {
      "teaser": {
        "service": "teaser",
        "defaultParams": {
          "layout": "video"
        },
        "config": {
          "search": {
            "displayFilters": ["documentState", "timeRange"],
            "defaultQueries": [
              {"type": "sortBy", "value": "relevance"},
              {"type": "contentType", "value": "video"}
            ],
            "emptySearchQueries": [
              {"type": "sortBy", "value": "-updated_at"},
              {"type": "contentType", "value": "video"}
            ]
          }
        }
      }
    }
  }
</script>

<div doc-include="teaser" class="placeholder--teaser-video">
  <div class="placeholder__img"></div>
</div>
