<script type="ld-conf">
  {
    "name": "teaser-hero-video-resolved",
    "label": "Teaser Hero"
  }
</script>

<div class="teaser-hero teaser-hero--video">
  <a href="">
    <div class="teaser-hero__header" style="background-image: url('https://app.resrc.it/C=W1638,H922,X728,Y132/O=75/https://livingdocs-images.s3.amazonaws.com/2016/10/28/f29a0498-620e-43a6-90d5-e0e8f7bd5e35.jpeg')">
      <div class="teaser-hero__header-text">
        <h2 class="teaser-hero__title">The delicate art of the TV series finale</h2>
        <span class="teaser-hero__label">
          <svg class="teaser-hero__icon teaser-hero__icon--photo" viewBox="0 0 24 24">
            <path fill="#000000" d="M4,4H7L9,2H15L17,4H20A2,2 0 0,1 22,6V18A2,2 0 0,1 20,20H4A2,2 0 0,1 2,18V6A2,2 0 0,1 4,4M12,7A5,5 0 0,0 7,12A5,5 0 0,0 12,17A5,5 0 0,0 17,12A5,5 0 0,0 12,7M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9Z" />
          </svg>
          Gallery
        </span>
      </div>
    </div>
  </a>
  <p class="teaser-hero__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>
