<script type="ld-conf">
  {
    "name": "teaser-hero-video-resolved",
    "label": "Teaser Hero"
  }
</script>

<div class="teaser-hero teaser-hero--video">
  <a href="">
    <div class="teaser-hero__header" style="background-image: url('https://app.resrc.it/C=W1638,H922,X728,Y132/O=75/https://livingdocs-images.s3.amazonaws.com/2016/10/28/f29a0498-620e-43a6-90d5-e0e8f7bd5e35.jpeg')">
      <div class="teaser-hero__header-text">
        <h2 class="teaser-hero__title">The delicate art of the TV series finale</h2>
        <span class="teaser-hero__label">
          <svg class="teaser-hero__icon teaser-hero__icon--play" viewBox="0 0 24 24">
            <path fill="#fff" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M10,16.5L16,12L10,7.5V16.5Z" />
          </svg>
          Video
        </span>
      </div>
    </div>
  </a>
  <p class="teaser-hero__text">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
</div>
