<script type="ld-conf">
  {
    "name": "teaser-hero",
    "label": "Teaser Hero",
    "directives": {
      "teaser": {
        "service": "teaser",
        "defaultParams": {
          "layout": "hero"
        },
        "config": {
          "search": {
            "displayFilters": ["documentState", "timeRange"],
            "defaultQueries": [
              {"type": "documentType", "value": "article"},
              {"type": "sortBy", "value": "relevance"},
              {"type": "metadata", "key": "layout", "value": "regular"}
            ],
            "emptySearchQueries": [
              {"type": "documentType", "value": "article"},
              {"type": "sortBy", "value": "-updated_at"},
              {"type": "metadata", "key": "layout", "value": "regular"}
            ]
          }
        }
      }
    }
  }
</script>

<div doc-include="teaser" class="placeholder--teaser-card">
  <div class="placeholder__img"></div>
</div>
