// ------------------------------------
// COLORS
// ------------------------------------

$alpha-color-base:   #000;

$text-color:         rgba($alpha-color-base, .87);
$secondary-color:    rgba($alpha-color-base, .54);
$icon-color:         rgba($alpha-color-base, .65);
$hint-text-color:    rgba($alpha-color-base, .26);
$divider-color:      rgba($alpha-color-base, .18);
