.a-asset-input {
  @extend %asset-box-shadow;
  box-sizing: content-box;
  padding: 6px;
  font-size: 13px;
  line-height: 1.4em;
  height: 1.4em;
  color: $asset-color-form-text;
  background-color: $asset-color-white;
  border: 1px solid $asset-color-form-border;
  border-radius: 2px;
}
