<script type="ld-conf">
  {
    "name": "embed-teaser-template",
    "label": "Article Teaser"
  }
</script>

<div class="teaser">
  <a internal href="#" doc-link="link">
    <div class="teaser__image container image-container" doc-image="image">
      <div class="image--overlay"></div>
    </div>
    <div class="teaser__text">
      <div>
        <h3>
          <span doc-editable="author"></span>
          <span class="source" doc-editable="date"></span>
        </h3>
      </div>
      <h2 doc-editable="title"></h2>
    </div>
  </a>
</div>
