<script type="ld-conf">
{
  "label": "Tweet",
  "description": "Embed a tweet",
  "allowedParents": [
    "article-container",
    "author-container",
    "asset-container-gallery",
    "gallery-container",
    "video-container",
    "halves-uneven",
    "halves-article-footer",
    "halves",
    "quarter",
    "thirds",
    "whole"
  ],
  "iconUrl": "https://livingdocsio.github.io/livingdocs-design-assets/docs/icons/component-icons/icon_component_twitter.svg"
}
</script>

<div doc-html="tweet" class="placeholder--twitter">
  <div class="placeholder__img"></div>
</div>
