<script type="ld-conf">
  {
    "name": "teaser-row-high-resolved",
    "label": "Top Row High"
  }
</script>

<div class="teaser-row">
  <a href="#" class="teaser-row__item teaser-row__item--high teaser-row__item--bg" style="background-image: url('../assets/images/mountains.jpg');">
    <div class="teaser-row__inside">
      <div class="teaser-row__headline">
        <div class="teaser-row__headline-inner">
          Hurricane Matthew: I almost refused to evacuate. Here’s why I changed my mind.
        </div>
      </div>
      <div class="teaser-author teaser-author--dark">By <span class="teaser-author__name">Michael More Sanderson</span></div>
    </div>
  </a>
  <a href="#" class="teaser-row__item teaser-row__item--high teaser-row__item--bg" style="background-image: url('../assets/images/mountains.jpg');">
    <div class="teaser-row__inside">
      <div class="teaser-row__headline">
        <div class="teaser-row__headline-inner">
          How Donald Trump may have avoided 18 years of federal taxes, explained with a simple cartoon
        </div>
      </div>
      <div class="teaser-author teaser-author--dark">By <span class="teaser-author__name">Michael Sanderson</span></div>
    </div>
  </a>
  <a href="#" class="teaser-row__item teaser-row__item--high teaser-row__item--bg" style="background-image: url('../assets/images/mountains.jpg');">
    <div class="teaser-row__inside">
      <div class="teaser-row__headline">
        <div class="teaser-row__headline-inner">
          Let’s dispel with this notion that Donald Trump knows what he’s doing
        </div>
      </div>
      <div class="teaser-author teaser-author--dark">By <span class="teaser-author__name">Thomas Mitchell</span></div>
    </div>
  </a>
  <a href="#" class="teaser-row__item teaser-row__item--high teaser-row__item--bg" style="background-image: url('../assets/images/mountains.jpg');">
    <div class="teaser-row__inside">
      <div class="teaser-row__headline">
        <div class="teaser-row__headline-inner">
          In conversation with Junot Díaz: on the force field of privilege and the power of art
        </div>
      </div>
      <div class="teaser-author teaser-author--dark">By <span class="teaser-author__name">Laura Hawkins</span></div>
    </div>
  </a>
</div>
