<script type="ld-conf">
  {
    "name": "top-row-resolved",
    "label": "Top Row"
  }
</script>

<div class="teaser-row">
  <div class="teaser-row__item teaser-row__item--high teaser-row__item--latest">
    <div class="teaser-row__inside teaser-row__inside--latest">
      <div class="teaser-latest__title">Latest News</div>
      <a href="#" class="teaser-latest__item">
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">Luke Cage isn’t just about a bulletproof black man. It’s also a story
          about the fragility of black life.</div>
        </div>
        <small class="teaser-latest__time">1 minute ago</small>
      </a>
      <a href="#" class="teaser-latest__item">
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">Luke Cage isn’t just about a bulletproof black man. It’s also a story
          about the fragility of black life.</div>
        </div>
        <small class="teaser-latest__time">1 minute ago</small>
      </a>
      <a href="#" class="teaser-latest__item">
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">Luke Cage isn’t just about a bulletproof black man. It’s also a story
          about the fragility of black life.</div>
        </div>
        <small class="teaser-latest__time">1 minute ago</small>
      </a>
      <a href="#" class="teaser-latest__item">
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">Luke Cage isn’t just about a bulletproof black man. It’s also a story
          about the fragility of black life.</div>
        </div>
        <small class="teaser-latest__time">1 minute ago</small>
      </a>
      <a href="#" class="teaser-latest__item">
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">Luke Cage isn’t just about a bulletproof black man. It’s also a story
          about the fragility of black life.</div>
        </div>
        <small class="teaser-latest__time">1 minute ago</small>
      </a>
    </div>
  </div>
  <div class="top-three-teasers">
    <a href="#" class="teaser-row__item teaser-row__item--high teaser-row__item--bg" style="background-image: url('../assets/images/laputa.jpg');">
      <div class="teaser-row__inside">
        <div class="teaser-tag">Feature</div>
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">
            How Donald Trump may have avoided 18 years of federal taxes, explained with a simple cartoon
          </div>
        </div>
        <div class="teaser-author teaser-author--dark">By <span class="teaser-author__name">Michael More Sanderson</span></div>
      </div>
    </a>
    <a href="#" class="teaser-row__item teaser-row__item--high teaser-row__item--bg" style="background-image: url('../assets/images/laputa.jpg');">
      <div class="teaser-row__inside">
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">
            Let’s dispel with this notion that Donald Trump knows what he’s doing
          </div>
        </div>
        <div class="teaser-author teaser-author--dark">By <span class="teaser-author__name">Thomas Mitchell</span></div>
      </div>
    </a>
    <a href="#" class="teaser-row__item teaser-row__item--high teaser-row__item--bg" style="background-image: url('../assets/images/laputa.jpg');">
      <div class="teaser-row__inside">
        <div class="teaser-row__headline teaser-latest__headline">
          <div class="teaser-row__headline-inner">
            In conversation with Junot Díaz: on the force field of privilege and the power of art
          </div>
        </div>
        <div class="teaser-author teaser-author--dark">By <span class="teaser-author__name">Laura Hawkins</span></div>
      </div>
    </a>
  </div>
</div>
