section.carousel {
  .container {
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;

    > * {
      white-space: normal;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      width: 25%;
      max-width: 90vw;

      margin-right: rhythm(1);
      &:first-child {
        margin-left: rhythm(1);
      };

    }
  }
}
