figure {
  clear: both;

  // Aspect Ratios
  .figure-container {
    width: 100%;
    // Default to 16:9 aspect ratio
    padding-bottom: 9/16 * 100%;
    height: 0;
    background-size: cover;
    background-position: center center;
  }

  img {
    width: 100%;
  }

  @include breakpoint($large-screen) {
  // Use full width images on small screens
  @include breakpoint($small-screens) {
    margin-left: - $body-padding;
    margin-right: - $body-padding;
  }

    @include squish(1);
  }

  &.right {
    @include breakpoint($medium-screen) {
      @include span(3 at 4);
      margin-left: gutter();
      margin-bottom: 1.5em;
    }
    clear: right;
  }

  &.left {
    @include breakpoint($medium-screen) {
      @include span(3);
      margin-bottom: 1.5em;
    }
    @include breakpoint($large-screen) {
      @include span(2);
    }
    clear: left;
  }

  @at-root .background {
    background: image-url('laputa.jpg') center center;
    background-size: cover;
  }

  figcaption {
    font-family: $font-sans-serif;
    margin-top: .25em;
    line-height: 1.4;
  }

  .middle-text {
    display: flex;
    align-items: center;
    justify-content: center;

    > figcaption {
      @include breakpoint($medium-screens-or-smaller) {
        margin: 0 auto;
        width: 90%;
      }

      &.inverted {
        color: white;
        text-shadow: 0 1px 5px rgba(0,0,0,0.7);
      }

      a {
        color: white;
        text-decoration: underline;
      }

      p {
        font-weight: 600;
      }
    }
  }

  // Modifiers: Caption
  &%caption-dark {
    figcaption {
      background: $light-black-color;
      color: white;
      display: block;
    }
  }

  &%caption-inside {
    @extend %caption-dark;
    position: relative;

    figcaption {
      background: rgba(0,0,0,0.5);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &.caption-inside-fade {
    @extend %caption-inside;

    figcaption {
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
    }
  }

  @at-root {
    .full-size figure {
      @extend .full-width;
      @include image-container;
    }
  }
}
