.grid-of-6 {
  clear: both;

  @include breakpoint($medium-screen) {
    figure + figure {
      margin-top: 0;
    }

    &.small figure {
      @include span(1);

      @for $i from 1 through $columns {
        &:nth-child(#{$i}) {
          @include isolate($i);
          @if $i == 4 {
            clear: none;
          }
        };
      }
    }

    figure {
      @include span(2);
      clear: none;

      @for $i from 1 through $columns {
        &:nth-child(#{$i}) {
          @if $i == 4 {
            clear: both;
          }
          @if $i <= 3 {
            margin-bottom: gutter();
          }
          @include isolate(1 + (2 * ($i - 1)) % 6);
        };
      }
    }
  }

  &.inside-caption {
    figure {
      @extend .caption-inside-fade;
    }
  }
}
