hr.separator {
  border: none;
  height: 1px;
  clear: both;
  padding-top: 3.25em;
  padding-bottom: 3.25em;

  &:before {
    content: '';
    display: block;
    @include squish(2.5);
    border-top: 1px solid $font-color;
  };
}
