aside.sidenote {
  font-size: 0.8rem;
  font-family: $font-sans-serif;

  p, h4 {
    font-size: 0.9rem;
    @include squish(0);
  }

  &.right {
    @include breakpoint($large-screen) {
      @include span(2 at 5);
    }
    @include breakpoint($medium-screen-only) {
      @include span(3 at 4);
    }
    @include breakpoint($medium-screen) {
      margin-left: 2 * gutter();
    }
    clear: right;
  }

  &.bleed {
    @include breakpoint($medium-screen) {
      margin-left: 3/2 * gutter();
    }
    background: $upfront-color;
    color: white;

    // Override roof
    &:before {
      display: none;
    }
  }

  // Roof (typographic style)
  &:before {
    width: 30%;
    display: block;
    content: "";
    height: 3px;
    background: $light-black-color;
    margin-top: -3px;
  }
}
