// Teaser Row
// TODO: use our own grid instead of susy or flexbox
.teaser-row {
  position: relative;
  font-family: $font-sans-serif;
  @include breakpoint($medium-screen) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4%;
  }
  @include breakpoint($large-screen) {
    margin-bottom: 2em;
  }
}

.teaser-row__inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3em 1em;
  line-height: 1.15;
  @include breakpoint($medium-screen) {
    padding: 0 1em 1.5em;
  }
}

.teaser-row__inside--latest {
  position: relative;
  @include breakpoint($small-screens) {
    padding: 0 1em 1em;
  }
  @include breakpoint($large-screen) {
    padding: 1em 1.5em;
  }
}

// Teaser Row Item
// TODO: use our own grid instead of susy or flexbox
.teaser-row__item {
  display: block;
  width: 100%;
  * + * {
    margin-top: 0;
  }
  margin-bottom: 1em;
  color: $c-text;
  line-height: 1.2;
  @include breakpoint($medium-screen) {
    width: 48%;
    margin-top: 0;
    margin-bottom: 4%;
  }
  @include breakpoint($large-screen) {
    width: 23.5%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Change background-color of Headlines when hovering .teaser-row__item link
a.teaser-row__item {
  &:hover {
    .teaser-row__headline-inner {
      background-color: $c-text;
    }
    .teaser-row__headline--outside {
      .teaser-row__headline-inner {
        background-color: $c-gray-six;
      }
    }
  }
}



// Teaser Row Item Modifiers
.teaser-row__item--high {
  @include breakpoint($medium-screen) {
    min-height: 500px;
  }
  @include breakpoint($large-screen) {
    min-height: 600px;
  }
}

.teaser-row__item--latest {
  background-color: $c-gray-seven;
  @include breakpoint($medium-screens-or-smaller) {
    width: 100%;
    min-height: 0;
  }
}

.teaser-row__item--bg {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  .teaser-row__headline {
    margin: .5em 0;

    .teaser-row__headline-inner {
      padding: 0 8px;
      background-color: rgba($c-text, .6);
      color: $c-white;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.2;
    }
  }
}



// Teaser Row Label
.teaser-row__label {
  display: inline-block;
  margin-bottom: 1em;
  border-bottom: 1px solid $c-text;
  color: $c-text;
  font-family: $font-serif;
  font-size: .875rem;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  transition: background-color .12s ease-in, border-color .12s ease-in;
  &:hover {
    background-color: $c-gray-six;
    border-color: transparent;
  }
}



// Headlines
.teaser-row__headline {
  display: block;
  margin-bottom: 1em;
  color: $c-text;
  font-size: .875rem;

  .teaser-row__headline-inner {
    display: inline;
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
    transition: background-color .12s ease-in;
    &:hover {
      background-color: $c-gray-six;
    }
  }

  &.teaser-row__headline--outside {
    margin-bottom: .25em;

    .teaser-row__headline-inner {
      font-weight: bold;
    }
  }

}



// Latest News
.teaser-latest__title {
  display: inline-block;
  margin: 1em 0;
  font-family: $font-serif;
  font-style: italic;
  font-size: 1.75rem;
  background-color: $c-green-four;
  line-height: .6;
}

.teaser-latest__item {
  display: block;
  margin-bottom: 1.5em;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: $c-text;
}

.teaser-latest__headline {
  font-size: .75rem;
  margin-bottom: .25em;
}

.teaser-latest__time {
  text-transform: uppercase;
  color: $c-gray-three;
}



// Teaser Tag
.teaser-tag {
  display: inline;
  margin-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: $c-green-four;
  color: $c-text;
  font-family: $font-serif;
  font-size: 1.125rem;
  font-style: italic;
}

.teaser-tag--absolute {
  position: absolute;
  bottom: .25em;
  left: .5em;
}

// Wrap inline-image and teaser tag
.teaser-tag-wrap {
  position: relative;
}



// Author
.teaser-author {
  display: inline-block;
  font-size: .875rem;
  font-family: $font-serif;
  font-style: italic;
  .teaser-author__name {
    color: $c-blue-one;
    text-decoration: underline;
  }
}

.teaser-author--dark {
  display: inline;
  padding: 0 8px;
  background-color: $c-text;
  color: $c-white;
  font-size: 1rem;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  .teaser-author__name {
    color: $c-blue-three;
    text-decoration: none;
  }
}


// Top 3 Teasers (right to latest news)
.top-three-teasers {
  margin-top: 0;
  @include breakpoint($small-screens) {
    width: 100%;
  }
  @include breakpoint($medium-screen) {
    display: flex;
    justify-content: space-between;
    .teaser-row__item {
      width: 31.5%;
    }
  }
  @include breakpoint($medium-screen-only) {
    width: 100%;
    .teaser-row__headline .teaser-row__headline-inner {
      font-size: 1.25rem;
    }
    .teaser-author {
      font-size: .875rem;
    }
    .teaser-tag {
      font-size: 1rem;
    }
  }
  @include breakpoint($large-screen) {
    width: 74.5%;
  }
}
