body {
  padding: $body-padding;
  overflow-x: hidden; /* Hide horizontal scrollbar caused by 100vw elements */

  .base-layout {
    @extend .layout;
    width: 90%;
  }
}

// for articles
.funky-wrapper {
  @extend .layout;
}

// for pages
.funky-page-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.layout {
  @include container;
  @include breakpoint($large-screen) {
    @include container(6/4 * $text-width);
  }
}
