// Define vertical rhythm
$base-font-size: 18px;
$base-line-height: 26px; /* 20px x 1.4 line-height */
$body-padding: 0 .72222rem;

// Characters per line
$text-width: 61ch;

// Fonts
$font-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-serif: Georgia, Times, serif;
$font-color: lighten(black, 20%);

//Colors
$livingdocs-color: #29b96f;
$upfront-color: $livingdocs-color;
$light-black-color: lighten(black, 10%);

$c-green-one:         #3d8c64;
$c-green-two:         #29b96f; /* Main livingdocs color */
$c-green-three:       #26cb7d;
$c-green-four:        #72dba5;
$c-green-five:        #eff9f3;

$c-blue-one:          #4e618d;
$c-blue-two:          #647cc1;
$c-blue-three:        #b2bedb;

$c-gray-one:          #3a2f3c;
$c-gray-two:          #514853;
$c-gray-three:        #656160;
$c-gray-four:         #9f9e97;
$c-gray-five:         #d4d4ce;
$c-gray-six:          #eaeae7; /* tint($c-gray-five, 50%) */
$c-gray-seven:        #f4f4f3; /* tint($c-gray-five, 75%) */

$c-white:             #ffffff;

$c-black:                   #141014;
$c-text:                    rgba($c-black, .87);
$c-text--hinted:            rgba($c-black, .54);
$c-icon:                    $c-text--hinted;
$c-icon--hinted:            rgba($c-black, .33);
$c-modal--bg:               $c-text--hinted;
$c-border:                  rgba($c-black, .12);
$c-paper-bg--dark:          $c-gray-one;


// Grid (Susy)
// See here for options: http://susydocs.oddbird.net/en/latest/settings/
//$columns: susy-get(columns, $span) !global;
$columns: 6;
$susy: (
  columns: $columns,
);
