<script type="ld-conf">
{
  "name": "3-teaser-row-textonly",
  "label": "3 Text-Teaser Row",
  "description": "3 Text-Teasers next to each other",
  "iconUrl": "https://livingdocs-assets.s3.amazonaws.com/magazine-design/assets/images/icons-components/icon_teaser_without_image.svg",
  "properties": ["container-style-lined"],
  "directives": {
    "teaser1": {
      "service": "teaser",
      "defaultParams": {
        "layout": "card-no-image"
      },
      "config": {
        "search": {
          "displayFilters": ["documentState", "timeRange"],
          "defaultQueries": [
            {"type": "sortBy", "value": "relevance"},
            {"type": "contentType", "value": "regular"}
          ],
          "emptySearchQueries": [
            {"type": "sortBy", "value": "-updated_at"},
            {"type": "contentType", "value": "regular"}
          ]
        }
      }
    },
    "teaser2": {
      "service": "teaser",
      "defaultParams": {
        "layout": "card-no-image"
      },
      "config": {
        "search": {
          "displayFilters": ["documentState", "timeRange"],
          "defaultQueries": [
            {"type": "sortBy", "value": "relevance"},
            {"type": "contentType", "value": "regular"}
          ],
          "emptySearchQueries": [
            {"type": "sortBy", "value": "-updated_at"},
            {"type": "contentType", "value": "regular"}
          ]
        }
      }
    },
    "teaser3": {
      "service": "teaser",
      "defaultParams": {
        "layout": "card-no-image"
      },
      "config": {
        "search": {
          "displayFilters": ["documentState", "timeRange"],
          "defaultQueries": [
            {"type": "sortBy", "value": "relevance"},
            {"type": "contentType", "value": "regular"}
          ],
          "emptySearchQueries": [
            {"type": "sortBy", "value": "-updated_at"},
            {"type": "contentType", "value": "regular"}
          ]
        }
      }
    }
  }
}
</script>

<div class="container container--thirds">
  <h2 class="container__title" doc-editable="title" doc-optional="true">
    Topic
  </h2>
  <div class="container-grid">
    <div class="container-grid__item">
      <div doc-include="teaser1" class="placeholder--teaser-card">
        <div class="placeholder__img"></div>
      </div>
    </div>
    <div class="container-grid__item">
      <div doc-include="teaser2" class="placeholder--teaser-card">
        <div class="placeholder__img"></div>
      </div>
    </div>
    <div class="container-grid__item">
      <div doc-include="teaser3" class="placeholder--teaser-card">
        <div class="placeholder__img"></div>
      </div>
    </div>
  </div>
</div>
