/**
 * The usual...
 */

body {
  background-color: $c-white;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, figure, figcaption, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
