<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{{ metadata.title }}</title>
    <meta name="Description" content="{{ metadata.description }}" />
    {{#unless isDev}}
      <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
    {{/unless}}
  </head>
  <body lang="en">
    {{{ content }}}
    <script src="/scripts.js"></script>
    {{#if isDev}}
      <script src="/helpers.js"></script>
    {{/if}}
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous">
    </script>
    <script src="https://d2o08py1e264ss.cloudfront.net/assets/resrc-0.9.0.min.js"></script>
    <script src="//use.resrc.it/0.9"></script>
    <script>
      resrc.configure({ssl: true})
      // hack to make resrc.it work: https://github.com/upfrontIO/livingdocs-server/issues/155
      resrc.ready(function() {
        var matches = $('.resrc')
        for (var i=0; i<matches.length; i++) {
          try {
            resrc.run(matches[i])
          } catch(e) {}
        }
      });
    </script>
  </body>
</html>
