<script type="ld-conf">
{
  "label": "Large Image",
  "properties": ["fixed-background"]
}
</script>


<div class="hero">
  <figure>
    <div class="container image-container" doc-image="image">
      <div class="image-gradient">
        <div class="base-layout middle-text full-height">
          <figcaption class="inverted centered">
            <h1 doc-editable="title">
              Title
            </h1>
            <h2 doc-editable="subtitle">
              Explain in more detail what this article is all about
            </h2>
            <p doc-editable="text">
              Author, city, date or source
            </p>
          </figcaption>
        </div>
      </div>
    </div>
  </figure>
</div>
