.o-asset-content {
  @extend %asset-box-shadow;
  max-width: 500px + double($base-spacing-unit);
  margin: 0 auto $asset-unit;
  background-color: $asset-color-gray-nine;
  border: 1px solid $asset-color-gray-seven;
  counter-reset: item-counter;

  &__main {
    padding: 0 $asset-unit $asset-unit;
  }
}
